<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kies een kunstwerk</title>
</head>
<body>
  <form action="http://10.130.84.190:5000/" method="post">
      <select name="javascript_file">
          <option value="/static/javascript_files/Mondriaan.js">Een tekening in de stijl van Piet Modriaan</option>
          <option value="/static/javascript_files/landschap.js">Een landschap</option>
          <option value="/static/javascript_files/print.js">Het Commodore 64 programma print</option>
      </select>
      <br>
      <br>
      <button type="submit">toon kunstwerk</button>
  </form>
</body>
</html>